* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #17181d;

  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;
  --color-gray-100: #0D0E11;
  --color-gray-200: #16181D;
  --color-gray-300: #292C34;
  --color-gray-400: #878EA1;
  --color-gray-500: #C0C4CE;
  --color-gray-600: #E2E4E9;

  --font-family: 'Asap', sans-serif;
  --title-lg: 700 56px/120% var(--font-family);
  --title-md: 700 24px/120% var(--font-family);
  --title-sm: 700 16px/120% var(--font-family);

  --font-family-1: 'Inconsolata', sans-serif;
  --subtitle: 400 20px/120% var(--font-family-1);

  --font-family-2: 'Maven-Pro', sans-serif;
  --text-md: 400 16px/140% var(--font-family-2);
  --text-md-stroke: 500 16px/140% var(--font-family-2);
  --text-sm: 400 14px/140% var(--font-family-2);
}

.container {
  max-width: 1366px;
  margin-inline: auto;
  padding-inline: 24px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--color-bg);
  text-align: center;
}

h1 {
  font: var(--title-lg);
  color: var(--color-gray-600);
}

h2 {
  font: var(--subtitle);
  color: var(--color-gray-500);
  padding-bottom: 8px;
}

h3 {
  font: var(--title-md);
  color: var(--color-gray-600);
}

h4 {
  font: var(--title-sm);
  color: var(--color-gray-600);
}

p {
  font: var(--text-sm);
  color: var(--color-gray-600);
}

a {
  text-decoration: none;
  color: var(--color-gray-500);
  font: var(--text-md-stroke);
}